*.iml
.gradle
/local.properties
/.idea/
/.vscode/
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# APK files
*.apk
*.aab

# Keystore files
*.jks
*.keystore
myownbank.keystore

# Google Services
google-services.json

# Logs
*.log

# Kassa folder
/kassa/
